<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta information for our website goes here -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe: Name of Recipe</title>
</head>
<body>
    <!-- The content displayed to the user goes here -->
    <h1>Name of Recipe</h1>

    <a href="../index.html">Home</a> <!-- Link to take the user back to the home page -->

    <br><br> <!-- Create some space -->

    <!-- <img src="../images/image.jpg" alt="Image" height="300px" width="300px"> -->

    <h2>Description</h2>
    <p>A brief description of the recipe goes here.</p>
    <a href="">Recipe Source (allrecipes.com)</a> <!-- Link to take the user to the source used for this recipe -->

    <h3>Ingredients</h3>
    <ul>
        <li>Ingredient list items go here.</li>
    </ul>

    <h3>Steps</h3>
    <ol>
        <li>Step list items go here.</li>
    </ol>
</body>
</html>